.form-group {
  label {
    display: block;
    margin-bottom: 5px;
    color: #84A2B4;
  }
}
.input-base {
  padding: 10px;
  height: 35px;
  background-color: #FFFFFF;
  border: 1px solid #D8E6EE;
  outline: none;
  &:disabled {
    background-color: #DFE6EA;
  }
}
.select-base {
  padding: 5px 20px 5px 5px;
  height: 35px;
  color: #667085;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #D8E6EE;
  border-radius: 1px;
  appearance: none;
  background-image: url("../assets/icons/icon-arrow-select.png");
  background-repeat: no-repeat;
  background-position: right 5px top 50%;
  background-size: 18px auto;
  outline: none;
  &::valid {
    color: #667085;
  }
  option {
    text-align: left;
  }
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 12px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: #14BA6D;
      &:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
      }
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #14BA6D;
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 6px;
      width: 6px;
      left: 3px;
      bottom: 3px;
      background-color: #ffffff;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }
}